#Generate a gitignore file for python streamlit# FILEPATH: /D:/Project/LLM/COHERE/summarizer/.gitignore

# Python Streamlit
__pycache__/
venv/
# Streamlit secrets
/
secrets.toml

streamingLanguageModel.pdf

# content.txt
content.txt
content1.txt